{% extends 'base.html' %}
{% block content %}


{% with messages = get_flashed_messages() %}
{% if messages %}
    {{ messages[0] }}
{% endif %}
{% endwith %}


{{ current_user.name }} Bank Account
PPS Number {{ current_user.ppsn }}
{% if expenses %}
{% for expense in expenses %}

<!-- CRIAR TABELA PARA VISUALIZACAO DO EXTRATO BANCARIO -->
</br> {{ expense.transaction }} {{ expense.reason }} {{ expense.amount }} {{ expense.balance }} 

{% endfor %}
{% endif %}

</br><a href="{{ url_for('withdraw') }}">Withdraw Money</a>
</br><a href="{{ url_for('deposit') }}">Deposit Money</a>

{% endblock %}